<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing System</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <section class="uploadContainer">
    <div class="dragZone">
        <div class="iconContainer">
            <img src="images/file.svg" alt="" class="fileLeft" draggable="false">
            <img src="images/file.svg" alt="" class="fileCenter" draggable="false">
            <img src="images/file.svg" alt="" class="fileRight" draggable="false">
        </div>
        <input type="file" name="MyFile" id="fileInput"/>
        <h2>Drop your Files here or <span class="browse">browse</span></h2>
    </div>
    <div class="progressContainer">
        <div class="progressBar">
            <div class="uploading">Uploading....</div>
            <div class="parsentage"><span class="parcent">0</span>%</div>
            <div class="prograssLine"><div class="blueBar"></div></div>
        </div>
    </div>
    <div class="userLinkSection">
        <h3 class="expired">Link Expires in 24 hrs</h3>
        <input type="text" name="" readonly value="" id="textBox">
        <!-- <input type="text" name="" readonly value="https://www.pngwing.com/en/free-png-yqhgd/download" id="textBox"> -->
        <img src="/images/pngwing.com.png" id="copyIcon" alt="" />
    </div>
    <h3 class="mailText">Or Send via Email</h3>
    <div class="mailBox">
        <form id="EmailForm" >
            <div>
                <label for="YourEmail">Your Email</label>
                <input type="email" required id="YourEmail" name="YourEmail">
            </div>
            <div>
                <label for="ClientEmail">Receiver's Email</label>
                <input type="email" required id="ClientEmail" name="ClientEmail">
            </div>
            <button class="mailSendBtn" type="submit">Send</button>
        </form>
    </div>
   </section>
   <section>
    <div class="image">
        <img src="/images/upload.svg" alt="side image">
    </div>
   </section>
   <div class="toast"></div>

<script src="js/script.js"></script>
</body>
</html>