*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    --main-bg-color : #eff5fe;
    --border-color : #0288d147;
    --Container-width : 500px;
}

body{
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadContainer{
    border-radius: 25px;
    background-color: #fff;
    box-shadow:2px 5px 10px #c4bdbd;
}

.dragZone {
    width: var(--Container-width);
    height: 200px ;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dragged.dragZone {
    background-color: var(--main-bg-color);
    border-color: #5959e9;
}

.iconContainer {
    width: 75px;
    height: 50%;
    position: relative;
}

.iconContainer img {
    width: 75px;
    position: absolute;
    transition: transform .5s ease-in-out;
}

.iconContainer .fileCenter{
    z-index: 2;
    transform-origin: bottom;    
}

.browse{
    color: #65b5ff;
    cursor: pointer;
}


.dragged .iconContainer .fileRight {
    transform: rotate(15deg) translateX(20px) scale(0.9);
    transform-origin: bottom;    
}

.dragged .iconContainer .fileLeft {
    transform: rotate(-15deg) translateX(-20px) scale(0.9);
    transform-origin: bottom;    
}

.iconContainer .fileLeft , .iconContainer .fileRight {
    filter: grayscale(0.5);
}

.dragged .iconContainer .fileCenter {
    transform: translateY(-5px);
}


#fileInput{
    display: none;
}

.progressContainer{
    width: var(--Container-width);
    height: 70px;
    border: 2px solid var(--main-bg-color);
    margin: 30px;
    border-radius: 10px;
    display: none;
}

.progressContainer .progressBar{
    height: 100%;
    width: 0%;
    background-color: var(--main-bg-color);
    /* transform: scaleX(0); */
    transform-origin: left;
    transition: width .25s linear;
}

.progressContainer .progressBar .uploading{
    margin: auto 15px;
    padding-top: 5px;
}

.progressContainer .progressBar .parsentage{
    margin: auto 15px;
}

.progressContainer .progressBar .prograssLine{
    height: 5px;
    width: 475px;
    margin: 5px 10px;
}

.progressContainer .progressBar .prograssLine .blueBar{
    height: 100%;
    width: 0%;
    background-color: #3c91fb;
    transition: width .25s linear;
}

.userLinkSection{
    width: var(--Container-width);
    height: 30px;
    border: 2px dashed var(--border-color);
    margin: 50px 0 30px 30px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    transition: width .25s linear;
    position: relative;
    display: none;
}

.userLinkSection .expired{
    position: absolute;
    top: -30px;
}
 
.userLinkSection #textBox{
    outline: none;
    height: 100%;
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    width: 92%;
    background-color: var(--main-bg-color);
}

.userLinkSection #copyIcon{
    position: absolute;
    margin: 2px 0 0 8px;
    height: 23px;
    cursor: pointer;
}
 
